In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Import 2023 data
data202301 = pd.read_csv('drive/MyDrive/BlueBike/202301-bluebikes-tripdata.csv')
data202302 = pd.read_csv('drive/MyDrive/BlueBike/202302-bluebikes-tripdata.csv')
data202303 = pd.read_csv('drive/MyDrive/BlueBike/202303-bluebikes-tripdata.csv')
data202304 = pd.read_csv('drive/MyDrive/BlueBike/202304-bluebikes-tripdata.csv')
data202305 = pd.read_csv('drive/MyDrive/BlueBike/202305-bluebikes-tripdata.csv')
data202306 = pd.read_csv('drive/MyDrive/BlueBike/202306-bluebikes-tripdata.csv')
data202307 = pd.read_csv('drive/MyDrive/BlueBike/202307-bluebikes-tripdata.csv')
data202308 = pd.read_csv('drive/MyDrive/BlueBike/202308-bluebikes-tripdata.csv')
data202309 = pd.read_csv('drive/MyDrive/BlueBike/202309-bluebikes-tripdata.csv')
data202310 = pd.read_csv('drive/MyDrive/BlueBike/202310-bluebikes-tripdata.csv')
data202311 = pd.read_csv('drive/MyDrive/BlueBike/202311-bluebikes-tripdata.csv')
data202312 = pd.read_csv('drive/MyDrive/BlueBike/202312-bluebikes-tripdata.csv')

In [ ]:
# Investigate Shape of Dataframes
print(data202301.shape)
print(data202302.shape)
print(data202303.shape)
print(data202304.shape)
print(data202305.shape)
print(data202306.shape)
print(data202307.shape)
print(data202308.shape)
print(data202309.shape)
print(data202310.shape)
print(data202311.shape)
print(data202312.shape)

(140340, 14)
(152975, 14)
(199003, 14)
(296291, 13)
(387593, 13)
(367839, 13)
(411509, 13)
(441706, 13)
(419874, 13)
(435867, 13)
(270816, 13)
(169380, 13)

In [ ]:
# Find column names
data202301_cols = data202301.columns
data202302_cols = data202302.columns
data202303_cols = data202303.columns
data202304_cols = data202304.columns
data202305_cols = data202305.columns
data202306_cols = data202306.columns
data202307_cols = data202307.columns
data202308_cols = data202308.columns
data202309_cols = data202309.columns
data202310_cols = data202310.columns
data202311_cols = data202311.columns
data202312_cols = data202312.columns

# Find intersection
intersection2023 = [item for item in data202301_cols if item in data202302_cols and item in data202303_cols and item in data202304_cols
                    and item in data202305_cols and item in data202306_cols and item in data202307_cols
                    and item in data202308_cols and item in data202309_cols and item in data202310_cols
                    and item in data202311_cols and item in data202312_cols]

print(data202301_cols, data202304_cols)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'postal code'],
      dtype='object') Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [ ]:
# Vertically concatenate 2023 data in two parts
data2023a = pd.concat([data202301, data202302, data202303])
data2023b = pd.concat([data202304, data202305, data202306, data202307,
                       data202308, data202309, data202310, data202311, data202312])

# Drop column names from data2023a
data2023a = data2023a.drop(['tripduration', 'postal code', 'bikeid'], axis=1)

# Check column names
print(data2023a.columns)

Index(['starttime', 'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude', 'end station id',
       'end station name', 'end station latitude', 'end station longitude',
       'usertype'],
      dtype='object')

In [ ]:
# Rename columns
data2023a.rename(columns={'starttime': 'started_at',
                         'stoptime': 'ended_at',
                         'start station id': 'start_station_id',
                         'start station name': 'start_station_name',
                         'start station latitude': 'start_lat',
                         'start station longitude': 'start_lng',
                         'end station id': 'end_station_id',
                         'end station name': 'end_station_name',
                         'end station latitude': 'end_lat',
                         'end station longitude': 'end_lng',
                         'usertype': 'member_casual'}, inplace=True)

# Add empty columns for 'ride_id' and 'rideable_type'
data2023a['ride_id'] = ''
data2023a['rideable_type'] = 'classic_bike'

# Rearrange colummn order
data2023a = data2023a[['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]

# Check column names
print(data2023a.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [ ]:
# Vertically concatenate 2023 data
data2023 = pd.concat([data2023a, data2023b])

In [ ]:
# Delete unwanted variables
del data202301, data202302, data202303, data202304, data202305, data202306, data202307, data202308, data202309, data202310, data202311, data202312, data2023a, data2023b
del data202301_cols, data202302_cols, data202303_cols, data202304_cols, data202305_cols, data202306_cols, data202307_cols, data202308_cols, data202309_cols, data202310_cols, data202311_cols, data202312_cols
del intersection2023

In [ ]:
# Import 2024 data
data202401 = pd.read_csv('drive/MyDrive/BlueBike/202401-bluebikes-tripdata.csv')
data202402 = pd.read_csv('drive/MyDrive/BlueBike/202402-bluebikes-tripdata.csv')
data202403 = pd.read_csv('drive/MyDrive/BlueBike/202403-bluebikes-tripdata.csv')
data202404 = pd.read_csv('drive/MyDrive/BlueBike/202404-bluebikes-tripdata.csv')
data202405 = pd.read_csv('drive/MyDrive/BlueBike/202405-bluebikes-tripdata.csv') #, on_bad_lines='skip', quoting=3)
data202406 = pd.read_csv('drive/MyDrive/BlueBike/202406-bluebikes-tripdata.csv')
data202407 = pd.read_csv('drive/MyDrive/BlueBike/202407-bluebikes-tripdata.csv')
data202408 = pd.read_csv('drive/MyDrive/BlueBike/202408-bluebikes-tripdata.csv') # , on_bad_lines='skip', quoting=3)
data202409 = pd.read_csv('drive/MyDrive/BlueBike/202409-bluebikes-tripdata.csv') #, on_bad_lines='skip', quoting=3)
data202410 = pd.read_csv('drive/MyDrive/BlueBike/202410-bluebikes-tripdata.csv')
data202411 = pd.read_csv('drive/MyDrive/BlueBike/202411-bluebikes-tripdata.csv')

In [ ]:
# Investigate Shape of Dataframes
print(data202401.shape)
print(data202402.shape)
print(data202403.shape)
print(data202404.shape)
print(data202405.shape)
print(data202406.shape)
print(data202407.shape)
print(data202408.shape)
print(data202409.shape)
print(data202410.shape)
print(data202411.shape)

(166699, 13)
(231947, 13)
(261687, 13)
(356327, 13)
(440534, 13)
(478860, 13)
(542622, 13)
(538262, 13)
(582679, 13)
(564156, 13)
(397406, 13)

In [ ]:
# Find column names
data202401_cols = data202401.columns
data202402_cols = data202402.columns
data202403_cols = data202403.columns
data202404_cols = data202404.columns
data202405_cols = data202405.columns
data202406_cols = data202406.columns
data202407_cols = data202407.columns
data202408_cols = data202408.columns
data202409_cols = data202409.columns
data202410_cols = data202410.columns
data202411_cols = data202411.columns

# Find intersection
intersection2024 = [item for item in data202401_cols if item in data202402_cols and item in data202403_cols
                    and item in data202404_cols and item in data202405_cols and item in data202406_cols
                    and item in data202407_cols and item in data202408_cols and item in data202409_cols
                    and item in data202410_cols and item in data202411_cols]

In [ ]:
# Vertically concatenate 2024 data:
data2024 = pd.concat([data202401, data202402, data202403, data202404, data202405,
                       data202406, data202407, data202408, data202409, data202410,
                       data202411])

In [ ]:
# Delete unwanted variables
del data202401, data202402, data202403, data202404, data202405, data202406, data202407, data202408, data202409, data202410, data202411
del data202401_cols, data202402_cols, data202403_cols, data202404_cols, data202405_cols, data202406_cols, data202407_cols, data202408_cols, data202409_cols, data202410_cols, data202411_cols
del intersection2024

In [ ]:
# View different values for 'member_casual' column in 2024
unique_member_casual2024 = data2024['member_casual'].unique()
print(unique_member_casual2024)

['member' 'casual']

In [ ]:
# View variables in 2023 data that need to be renamed
unique_member_casual2023 = data2023['member_casual'].unique()
print("2023 Unique Values: ", unique_member_casual2023)

2023 Unique Values:  ['Subscriber' 'Customer' 'member' 'casual']

In [ ]:
# Rename variables
data2023['member_casual'] = data2023['member_casual'].replace('Customer', 'casual')
data2023['member_casual'] = data2023['member_casual'].replace('Subscriber', 'member')

In [ ]:
# Check that all unique values are aligned
unique_member_casual2023 = data2023['member_casual'].unique()
print("2023 Unique Values: ", unique_member_casual2023)

unique_member_casual2024 = data2024['member_casual'].unique()
print("2024 Unique Values: ", unique_member_casual2024)

2023 Unique Values:  ['member' 'casual']
2024 Unique Values:  ['member' 'casual']

In [ ]:
# Delete unwanted variables
del unique_member_casual2024, unique_member_casual2023

In [ ]:
# Determine methodology for calculating ride duration
start = data2023.iloc[0, 2]
end = data2023.iloc[0, 3]

print(start)
print(end)

starthr = int(start[11:13])
startmin =  int(start[14:16])
startsec = int(start[17:19])
endhr = int(end[11:13])
endmin = int(end[14:16])
endsec = int(end[17:19])

print(starthr)
print(startmin)
print(startsec)
print(endhr)
print(endmin)
print(endsec)

duration = endhr * 60 + endmin + endsec/60 - starthr * 60 - startmin - startsec/60
print(duration)

2023-01-01 00:02:54.0800
2023-01-01 00:07:04.4100
0
2
54
0
7
4
4.166666666666666

In [39]:
# Add columns 'year', 'month', 'day', 'time', and 'duration_min' columns
data2023['year'] = data2023['started_at'].str[0:4].astype(int)
data2023['month'] = data2023['started_at'].str[5:7].astype(int)
data2023['day'] = data2023['started_at'].str[8:10].astype(int)
data2023['time'] = data2023['started_at'].str[11:19]
data2023['duration_min'] = (data2023['ended_at'].str[11:13].astype(int)*60
                            + data2023['ended_at'].str[14:16].astype(int)
                            + data2023['ended_at'].str[17:19].astype(int)/60) - (data2023['started_at'].str[11:13].astype(int)*60
                                                                                 + data2023['started_at'].str[14:16].astype(int)
                                                                                 + data2023['started_at'].str[17:19].astype(int)/60)

data2024['year'] = data2024['started_at'].str[0:4].astype(int)
data2024['month'] = data2024['started_at'].str[5:7].astype(int)
data2024['day'] = data2024['started_at'].str[8:10].astype(int)
data2024['time'] = data2024['started_at'].str[11:19]
data2024['duration_min'] = (data2024['ended_at'].str[11:13].astype(int)*60
                            + data2024['ended_at'].str[14:16].astype(int)
                            + data2024['ended_at'].str[17:19].astype(int)/60) - (data2024['started_at'].str[11:13].astype(int)*60
                                                                                 + data2024['started_at'].str[14:16].astype(int)
                                                                                 + data2024['started_at'].str[17:19].astype(int)/60)
# Adjust negative durations
data2023['duration_min'] = data2023['duration_min'].apply(lambda x: x + 1440 if x < 0 else x)
data2024['duration_min'] = data2024['duration_min'].apply(lambda x: x + 1440 if x < 0 else x)

In [40]:
print("2024 min: ", data2024['duration_min'].min())
print("2024 max: ", data2024['duration_min'].max())
# Find duration_min mean
print("2024 mean: ", data2024['duration_min'].mean())
# find duration_min median
print("2024 median: ", data2024['duration_min'].median())

print("2023 min: ", data2023['duration_min'].min())
print("2023 max: ", data2023['duration_min'].max())
# Find duration_min mean
print("2023 mean: ", data2023['duration_min'].mean())
# find duration_min median
print("2023 median: ", data2023['duration_min'].median())

2024 min:  0.0
2024 max:  1439.9833333333333
2024 mean:  16.20610372888238
2024 median:  11.200000000000045
2023 min:  0.0
2023 max:  1439.9833333333333
2023 mean:  19.345171851746343
2023 median:  12.06666666666672

In [41]:
data2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,year,month,day,time,duration_min
0,,classic_bike,2023-01-01 00:02:54.0800,2023-01-01 00:07:04.4100,Copley Square - Dartmouth St at Boylston St,36,Prudential Center - 101 Huntington Ave,21,42.349928,-71.077392,42.346520,-71.080658,member,2023,1,1,00:02:54,4.166667
1,,classic_bike,2023-01-01 00:10:33.3100,2023-01-01 00:18:42.3690,Boylston St at Exeter St,372,Mass Ave T Station,404,42.349589,-71.079468,42.341356,-71.083370,casual,2023,1,1,00:10:33,8.150000
2,,classic_bike,2023-01-01 00:10:49.9130,2023-01-01 00:18:31.1280,Boylston St at Exeter St,372,Mass Ave T Station,404,42.349589,-71.079468,42.341356,-71.083370,casual,2023,1,1,00:10:49,7.700000
3,,classic_bike,2023-01-01 00:13:58.0640,2023-01-01 00:31:43.5090,Mugar Way at Beacon St,58,Park Plaza at Charles St S.,345,42.355536,-71.072869,42.351828,-71.067811,casual,2023,1,1,00:13:58,17.750000
4,,classic_bike,2023-01-01 00:14:02.6130,2023-01-01 00:24:03.8950,Boylston St at Berkeley St,50,Tremont St at Hamilton Pl,374,42.351142,-71.073292,42.356683,-71.061666,member,2023,1,1,00:14:02,10.016667

In [42]:
# Save csv files
data2023.to_csv('/content/drive/My Drive/BlueBikes2023.csv', index=False)
data2024.to_csv('/content/drive/My Drive/BlueBikes2024.csv', index=False)